@tailwind base;
@tailwind components;
@tailwind utilities;


.admin-container {
  height: 100%;
  min-height: 100vh;
  background-color: #e8e9ef;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    /* background-color: #ffffff; */
  }
  a:hover {
    color: #000000;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}



.container{
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  padding: 30px;
  border-radius: 5px;
}

@font-face {
  font-family: 'SF pro display'; 
  src: url('C:\Users\PC\Downloads\sf-pro-display-cufonfonts') format('truetype'); 
}

h3{
  font-family: 'SF pro display';
  font-size:x-large;
  font-weight: 1000;
}

h4{
  font-family: 'SF pro display';
  font-size:large;
  font-weight: 800;
}

.custom-text {
  font-family: 'SF pro display', sans-serif; 
  font-size: 16px;
  text-align: center;
}

.custom-text-bold {
  font-family: 'SF pro display', sans-serif; 
  font-size: 35px;
  text-align: center;
  font-weight: 750;
}

.btn {
  display: inline-block;
  background: #647DFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: 'SF pro display', sans-serif;
}

.btn:hover {
  color: #000000; /* Change the color to red when hovered */
}

.slick-prev,
.slick-next {
  background-color: #C4CCF9; /* Text color */
  border-radius: 50%; /* Makes the button round */
  width: 40px; /* Adjust width */
  height: 40px; /* Adjust height */
  font-size: 24px; /* Adjust font size */
  line-height: 40px; /* Vertically center text */
}

.slick-next:hover{
  background-color: #C4CCF9; 
}

.slick-prev:hover{
  background-color: #C4CCF9; 
}

.slick-slide > div {
  margin: 0 20px;
}

.project{
  max-width: 1300px;
  width: 100%;
  padding:  0px 20px;
  font-family: 'SF pro display', sans-serif;
}

section{
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}


.card{
  /* flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px); */
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: .3s;
  border: 2px solid transparent;
}

.cardPro{
  /* flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px); */
  width: 100%;
  background-color: #818df844;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: .3s;
  border: 2px solid transparent;
}

.cardPro:hover{
  border-color: #818CF8;
  cursor: pointer;
}


.cardus{
  /* flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px); */
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  transition: .3s;
  border: 2px solid transparent;
  height:300px
}

.card:hover{
  border-color: #818CF8;
  cursor: pointer;
}

.profilink{
  margin-bottom: 0px;
}

.profilink:hover{
  text-decoration: underline;
}

.bar {
  position: absolute; /* Position the bar relative to the containing element */
  background-color: #ffffff;
  height: 250px;
  top: 80px; /* Adjust top position as needed */
  right: 20px; /* Adjust right position as needed */
  z-index: 999; /* Make sure the bar appears above other elements */
  border-radius: 10%;
  border: 2px solid #818CF8; /* Border style with color */
}

.options{
  position: relative;
  padding: 30px;
  border-radius: 10%;
  cursor: pointer;
  font-family: 'SF pro display', sans-serif; 
  font-size: 16px;
  text-align: center;
  
  list-style: none;
  z-index: 1000; /* Ensure options appear above the border */
}



.bar {
  text-align: center;
  position: absolute;
  padding :0px;
  z-index: 700;
  border-radius: 10%;
  height: 94px;
  border: 2px solid #818CF8;
} 

.options-list {
  list-style: none;
  background-color: #ffffff;
  border-radius: 10%;
  top: 100%; 
  z-index: 800;
}

.options-list li {
  border-radius: 10%;
  cursor: pointer;
  padding: 3px;
}

.options-list li:hover {
  background-color:#C3CCF8;
}
