@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #000000;
  }
  button {
    background-color: #f9f9f9;
  }
}
